﻿body h1{
    background-color:blueviolet;
}
body .top-bar {
    background-color:red;
}

    body .top-bar .main-bar {
        background-color:darkgreen;
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .top-bar .main-bar .contact-left {
            flex-grow: 4;
            background-color:gold;
            display: flex;
            justify-content: flex-start;
            gap: 20px;
        }

        body .top-bar .main-bar .login-right {
            flex-grow: 2;
            background-color:darkviolet;
            display: flex;
            justify-content: space-around;
        }
